
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
    *{
        border:0;
        padding: 0;
        margin: 0;
    }

    body{
    background-color: #252525;
   
    }
    header{
        padding: 32px;
        border-bottom: 3px solid orange;
        background-color: #825727;
    }

    header div {
        text-align: center;
    }
    header div a {
        color: white;
        font-size: 32px;
        line-height: 30px;
        margin:0 18px;
        text-decoration: none;
        font-family: "Honk", system-ui;
        transition: 500ms;
    }
    header div a:hover {
     font-size:40px;
     transition: 500ms;
     animation-name: movemenu;
     animation-timing-function: ease-in  ;
    }

    @keyframes move-menu{
        0%{
          margin-left: 500px;
        }
        100%{
            margin-right: 15px;
        }
    }

    