
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    :root{
        --subcor: red;
    }
    *{
        padding: 0;
        margin: 0;
        border: 0;
    }
    body{
        background-color: #252525;
        color: white;
        font-family: "Roboto", sans-serif;
    }
    Header{
    padding: 32px;
    border-bottom: 2px solid var(--subcor);
    background-color: #25212153 ;
    }

    .links {
    text-align: center;
    }

    .links a{
    color: white;
    font-size: 24px;
    line-height: 32px;
    margin: 0 16px;
    text-decoration: none;
    }
    .links a:hover {
        color: var(--subcor);
        transition: color 800ms;
    }

    #box {
        text-align: center;
        padding: 32px;
    }

    #box img {
        border-radius: 50% 20% 10% 30%;
        border: 2px solid var(--subcor);
        transition: 700ms;
    }
    #box img:hover {
        border-radius: 50% ;
        border: 2px solid var(--subcor);
        transition: 800ms;
    }
  #box h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
  }

  #box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
  }

  #box p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
  }
 
   #linksFooter{
    padding: 32px;
   }
   #linksFooter a {
    padding-top: 32px;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--subcor);
   }

    

